/* @import url('https://fonts.googleapis.com/css?family=PT+Serif|Source+Sans+Pro|Ubuntu'); */
$primary-background-color: #36D7B6;
$secondary-background-color: #2d3e50;
$base-background-color: #f6f6f6;
$base-color:#363636;
$font-type-1:'Source Sans Pro',
sans-serif;
$font-type-2:'PT Serif',
serif;
$font-type-4:'Ubuntu',
sans-serif;