.has-card-content {
    .card:last-child {
        margin-bottom: 20px;
    }
    .card:first-child {
        margin-top: 0px;
    }
}

.card {
    margin-top: 20px;
    &.is-horizontal {
        display: flex;
        .card-image {
            width: 80%;
            height: auto;
            @media screen and (max-width: 768px) {
                object-fit: cover;
                width: 100%;
            }
            .is-overlay {
                top: 24px;
                bottom: unset;
                left: 30%;
                padding: 15px;
                font-weight: bold;
            }
        }
        .card-stacked {
            padding-left: 10px;
            flex-direction: column;
            flex: 1 1 auto;
            display: flex;
            position: relative;
            .card-content {
                flex-grow: 1;
            }
        }
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
}

.has-custom-card-header {
    border-bottom: 1px solid #e1e1e1;
}

.categories-link-list {
    ul {
        margin: 0px;
        list-style-type: none;
        li:first-child {
            margin-top: 0px;
        }
        li {
            margin-top: 20px;
            padding: 0px;
            a {
                color: #757575;
                text-decoration: none;
                span:last-child{
                    text-decoration: underline;
                }
            }
            ul.is-toggle-list {
                li {
                    margin-top: 10px;
                    padding: 0px 26px;
                    a {
                        color: #9b9b9b;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.card-header-title.custom-padding {
    padding: 0.75rem 1.5rem;
}

.card-content.custom-padding {
    padding: 0.65rem 1.4rem;
}