.comment-style {
    @media screen and (max-width: 480px) {
        font-size: 0.3rem !important;
    }
    @media screen and (max-width:768px) {
        font-size: 0.5rem !important;
    }
    .image.is-64x64 {
        @media screen and (max-width: 480px) {
            width: 32px;
            height: 32px;
        }
        @media screen and (max-width:768px) {
            width: 42px;
            height: 42px;
        }
        img{
            border-radius: 5px;
        }
    }
    .media.media,
    .media+.media {
        border-top: none;
    }
    .content{
        padding-bottom: 30px;
        border-bottom: 1px solid #e1e1e1;
    }
}
.date-comment {
    margin-left: 10px;
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
}