.footer-list-link {
    ul {
        margin: 0px;
        list-style-type: none;
        li {
            margin-top: 25px;
            a {
                text-decoration: underline;
                color: white
            }
            a:hover {
                color: $primary-background-color;
            }
        }
    }
}

.instagram-galery {
    .column {
        img {
            padding: 1px;
        }
    }
}

.footer-style {
    .footer-section:first-child {
        border-top: none;
    }
    .footer-section {
        border-top: 1px solid #556574;
    }
}

.footer-right {
    text-align: right;
    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

.footer-left {
    text-align: left;
    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

.img-logo {
    padding:0px 10px;
}