.has-sticky-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-item {
    img {
        max-height: 300px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        @media screen and (max-width: 768px) {
            max-height: 40px;
            padding: 0px;
        }
    }
}

.custom-nav-item {
    font-weight: 600;
    font-size: 0.80rem;
    .navbar-item {
        padding: 0.5rem 2rem;
    }
    .navbar-item:last-child {
        padding-right: 0.75rem;
    }
}