.pagination-style {
    margin-top: 20px;
    padding: 10px 15px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        li.active > a {
            color: $primary-background-color !important;
        }
        li {
            float: left;
            a {
                color: $base-color;
                display: block;
                text-align: center;
                padding: 0px 5px;
                text-decoration: none;
                font-weight: bold;
            }
            a:hover {
                color: $primary-background-color;
            }
        }
    }
}