.has-border-group {
    .column {
        border-left: 1px solid rgba(255, 255, 255, 0.705);
        @media screen and (max-width: 720px) {
            border-left: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.705);
        }
    }
    .column:last-child {
        border-right: 1px solid rgba(255, 255, 255, 0.705);
    }
}

.has-bg-primary {
    background: $primary-background-color;
}

.has-bg-secondary {
    background: $secondary-background-color;
}

.is-borderless {
    border: none !important;
}

.has-text-bg-primary {
    color: $primary-background-color;
}

.main-content {
    margin-top: 50px;
    margin-bottom: 60px;
}

.clear-corner {
    padding-left: 0px;
    padding-right: 0px;
}

.custom-tabs {
    li.is-active {
        a {
            background-color: $primary-background-color !important;
            border: none !important;
        }
    }
    li {
        a {
            background-color: $secondary-background-color;
            border: none !important;
        }
        a:hover {
            background-color: $primary-background-color !important;
            border: none !important;
            color: white !important;
        }
    }
}

.fit-object {
    object-fit: cover;
}

img.has-img-rounded {
    border-radius: 50%;
}

.is-size-6-5 {
    font-size: 0.9rem !important;
}

.button.is-tags {
    margin: 4px 2px;
    padding: 20px;
}

.content blockquote {
    background-color: unset;
    border: none;
    font-size: 1.4rem;
}